{% extends 'global/Page.html' %}
{% load otree %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css"> 
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    <!-- Stores the history of the game -->
    <input type="hidden" id="game_history_hidden" name="game_history_hidden" value="">

    <div class = "total_score" id="total_score"> <h3>Current Score: {{ group.total_words }} points</h3></div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="input-group">
                <input id="submitted_word" type="text" class="form-control" placeholder="Enter Words Here">
                <div class="input-group-append">
                    <button id="submit_button" class="btn btn-primary" type="button">Submit Word</button>
                </div>
            </div>  
        </div>
    </div>

        <table id="history" class="display">
            <thead>
               
                <th>Player</th>
                <th>Word</th>
                <th>Value</th>
                <th>Message</th>
      
            </thead>

            <tbody>
                {% for w in group.words.all %}
                <tr>
                    <td>{{ w.owner.id_in_group }}</td>
                    <td>{{ w.body }}</td>
                    <td>{{ w.value }}</td>
                    <td>{{ w.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    <div class="container">
        <div class="row justify-content-center">
            <div class="scrabble-container">
                <div id="own_tiles" name = {{own_tiles}}>{{ own_tiles }}</div>
            </div>
        </div>
                <!--<div id="group_tiles">{{ group_tiles }}</div> -->
        <div class = "row justify-content-center">
                <button id = "shuffle_button" class="btn btn-success" type="button">Shuffle Letters</button>
        </div>
    </div>



    
    {% chat %}

{% endblock %}


{% block scripts %}
    <script>
        var history_data_table = $('#history').DataTable({
            "pageLength": 5,
            "searching": false,
            "bLengthChange": false,
            "language": {
                "emptyTable": "Words that you discover will appear here."
            }
        });



        console.log("Ready!");
        const submitted_word = $('#submitted_word');
        const submit_button = $('#submit_button');
        const $group_tiles = $('#group_tiles');
        const $own_tiles = $('#own_tiles');
        const $history = $('#history');
        const $total_score = $('#total_score');

        transform_letters();


        // Applies CSS to letters to transform them into tiles
        function transform_letters(){
            var scrabble_transform = jQuery.map(($own_tiles.html() + '').split(''), function(letter) {
                return '<span class="scrabble-tile__letter">' + letter + '<span/>'
            })
            $own_tiles.html(scrabble_transform);
        }

        submit_button.click(function () {
            if (submitted_word.val().trim() !== '') {
                let payload = {word: submitted_word.val(),}
                liveSend(payload);
                $('#submitted_word').val("");
            }
        });

        function liveRecv(word_payload) {
            let text = '<tr style="background-color: #ADD8E6"><td>' + word_payload.id_in_group + '</td><td>' + word_payload.word + '</td><td>' + word_payload.word_value + '</td><td>' + word_payload.message + '</td></tr>';
            //console.log($("#history").text);
            //console.log(word_payload.total_score);
            $total_score.html("<h3>Current Score: " + word_payload.total_score + " points</h3>");

            history_data_table.row.add([word_payload.id_in_group,
                word_payload.word,
                word_payload.word_value,
                word_payload.message]
            ).reverse().draw();

            $('#history tr:first-child').remove(); 
            $('#history tr:first').before(text);

            //Equivalent to const own_tiles = word_payload.own_tiles
            const {own_tiles, group_tiles} = word_payload;
            if (own_tiles) {
                $own_tiles.html(own_tiles);
                $own_tiles.attr('name', own_tiles);
                transform_letters();
            }

            if (group_tiles) {
                $group_tiles.html(group_tiles);
            }
        }



        //Attach listener to form to allow Enter Key to submit a word
        submitted_word.keypress(function (e) {
            if (e.which == 13) {
                console.log("Enter Key Pressed");
                $('#submit_button').click();
                    return false;
            }

        });

        //Add a shuffle button to randomize order of the string
        $('#shuffle_button').click(function() {
            let shuffled = $own_tiles.attr('name').split('').sort(()=>(Math.random()-0.5)).join('');
            $own_tiles.html(shuffled);
            transform_letters(); 
        
        });

        function update_score(){
            var data = $history.rows().data();
            data.each(function (value, index) {
                console.log(`For index ${index}, data value is ${value}`);
            });
        }

    </script>
{% endblock %}

{% block styles %}
    <style>


        .row{
            margin-top: 15px;  
        }

        .display--inline-block {
            display: inline-block;
            float: none; }

        .scrabble-container {
            clear: both; 
        }
        @media screen and (min-width: 1024px) {
            .scrabble-container {
            margin-left: 15px; } 
        }
        
        .scrabble-container .scrabble-tile__space {
            width: 90px;
            height: 100px;
            display: inline-block;
            background: #D5B292;
            color: #2A1F1B;
            border-radius: 4px;
            font-size: 60px;
            font-weight: 400;
            line-height: 100px;
            margin: 10px 3px;
            text-align: center;
            vertical-align: bottom;
            cursor: default;
            text-transform: uppercase;
            box-shadow: 3px 3px 4px rgba(107, 107, 107, 0.8), inset 3px 0 2px rgba(255, 255, 255, 0.4), inset 0 3px 0px rgba(255, 255, 255, 0.5), inset -2px -3px 0px rgba(143, 128, 82, 0.6); }
        .scrabble-container .scrabble-tile__letter {
            background: #D5B292 no-repeat scroll 0 0;
            border-radius: 4px;
            box-shadow: 3px 3px 4px #c8c8c8, 3px 0 2px rgba(213, 178, 146, 0.4) inset, 0 3px 0 rgba(213, 178, 146, 0.5) inset, -3px -4px 0 rgba(107, 107, 107, 0.6) inset;
            color: #2A1F1B;
            cursor: default;
            display: block;
            float: left;
            font-family: "Spinnaker", Arial, sans-serif;
            font-size: 22px;
            font-weight: 400;
            height: 35px;
            line-height: 32px;
            margin: 10px 3px;
            text-align: center;
            text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9), 0 -1px 1px rgba(255, 255, 255, 0.2);
            text-transform: uppercase;
            width: 35px; }
            @media screen and (min-width: 480px) {
            .scrabble-container .scrabble-tile__letter {
                width: 31px;
                height: 31px;
                line-height: 25px;
                font-size: 18px; } }
            @media screen and (min-width: 640px) {
            .scrabble-container .scrabble-tile__letter {
                width: 40px;
                height: 47px;
                display: inline-block;
                float: none;
                font-size: 24px;
                line-height: 47px; } }
            @media screen and (min-width: 768px) {
            .scrabble-container .scrabble-tile__letter {
                width: 53px;
                height: 58px;
                font-size: 30px;
                line-height: 58px; } }

        .scrabble-tile__number {
        font-size: 13px;
        position: relative;
        right: 0;
        top: 5px; }
        @media screen and (min-width: 480px) {
            .scrabble-tile__number {
            font-size: 11px; } }
        @media screen and (min-width: 768px) {
            .scrabble-tile__number {
            font-size: 17px;
            top: 8px; } }

        .scrabble-tile__rotate-nw {
        transform: rotate(3deg); }

        .scrabble-tile__rotate-ne {
        transform: rotate(-2deg); }

        .scrabble-tile--end-letter {
        margin-right: 20px !important; }

        .scrabble-tile--end-letter__mobile-only {
        margin-right: 20px !important; }
        @media screen and (min-width: 768px) {
            .scrabble-tile--end-letter__mobile-only {
            margin-right: 0 !important; } }

        .scrabble-tile__new-word {
        clear: both; }
        @media screen and (min-width: 480px) {
            .scrabble-tile__new-word {
            clear: none; } }

        .total_score{
            position:absolute;
            top:10px;
            right: 10px;
            font-size: large;
         }

    </style>
{% endblock %}